<!-- <app-header></app-header>
<ng-container *ngIf="!showBooking">
  <app-search (searchClicked)="onSearch($event.loading, $event.flights)"></app-search>
</ng-container>

<ng-container *ngIf="showFlightResults">
  <app-flight-results [flights]="flights" (bookFlight)="onBookFlight($event)"></app-flight-results>
</ng-container>

<ng-container *ngIf="!showFlightResults && !showBooking">
  <app-featured-destinations></app-featured-destinations>
</ng-container>

<ng-container *ngIf="showBooking">
  <app-booking></app-booking>
</ng-container> -->


<!-- <router-outlet></router-outlet> -->




<!-- The below code needs to be updated to use the new router-outlet -->
<!-- <app-header></app-header> -->
<!-- <ng-container *ngIf="!showBooking">
  <app-search (searchClicked)="onSearch($event.loading, $event.flights)"></app-search>
</ng-container>

<ng-container *ngIf="showFlightResults">
  <router-outlet></router-outlet>
</ng-container> -->





<!-- <ng-container *ngIf="!showFlightResults && !showBooking">
  <app-featured-destinations></app-featured-destinations>
</ng-container>

<ng-container *ngIf="showBooking">
  <app-booking></app-booking>
</ng-container> -->

<app-header></app-header>
<router-outlet></router-outlet>