<div class="search-container">
  <h1>Discover Your Next Adventure</h1>

  <div class="card">
    <div class="button-group">
      <button
        [class.active]="activeButton === 'Roundtrip'"
        (click)="setActive('Roundtrip')">Roundtrip
      </button>
      <button
        [class.active]="activeButton === 'One Way'"
        (click)="setActive('One Way')">One Way
      </button>
      <button
        [class.active]="activeButton === 'Recent Searches'"
        (click)="setActive('Recent Searches')">Recent Searches
      </button>
    </div>

    <div class="location-row">
      <select
        [(ngModel)]="fromCountry"
        #fromCountryInput="ngModel"
        [ngClass]="{'invalid': fromCountryInput.invalid && submitted}"
        required>
        <option value="" disabled selected>From</option>
        <option *ngFor="let country of countries" [value]="country.name.common">{{ country.name.common }}</option>
      </select>

      <select
        [(ngModel)]="toCountry"
        #toCountryInput="ngModel"
        [ngClass]="{'invalid': toCountryInput.invalid && submitted}"
        required>
        <option value="" disabled selected>To</option>
        <option *ngFor="let country of countries" [value]="country.name.common">{{ country.name.common }}</option>
      </select>
    </div>

    <div class="input-row">
      <input
        type="number"
        placeholder="Number of guests"
        [(ngModel)]="guests"
        #guestsInput="ngModel"
        [ngClass]="{'invalid': guestsInput.invalid && submitted}"
        min="1"
        required
      />

      <input
        type="date"
        placeholder="Depart Date"
        [(ngModel)]="departDate"
        #departDateInput="ngModel"
        [ngClass]="{'invalid': departDateInput.invalid && submitted}"
        required
      />

      <input
        *ngIf="activeButton === 'Roundtrip'"
        type="date"
        placeholder="Return Date"
        [(ngModel)]="returnDate"
        #returnDateInput="ngModel"
        [ngClass]="{'invalid': returnDateInput.invalid && submitted}"
        [required]="activeButton === 'Roundtrip'"
      />

      <button
        class="search-button"
        (click)="onSearch()"
        [disabled]="!formValid()">
        Search
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="showfeatured">
  <app-featured-destinations></app-featured-destinations>
</ng-container>
